body{
    font-family: 'Oswald';
    display: flex;
    width: 50%;
    margin: 0%;
   
} 
    h1{
    font-size: 55px;
    color: blueviolet;
}
h3{
    font-size: 30px;;
}
.h-t-l{
    color: tomato;
}
p{
    font-size: 22px;
    display: flex;
}
.t-s{
    margin-left: 10%;
}
a{
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    background: linear-gradient(#e66465, pink);
    border-radius: 5px;
}